.project-container {
    border-top: 5px solid transparent;
    border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
    border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
    border-image-slice: 1;
}

.project-header {
    font-weight: 700;
    font-size: 1.28571429rem;
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(34,36,38,.15);
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
}

.project-layer {
    margin: 24px 24px 24px 24px;
}

.project-cell-header {
    width: 100%;
    display: inline-block;
    overflow:hidden;
    white-space: nowrap;
}

.project-cell-ico-body {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(34,36,38,.15);
    text-align: right;
    margin-bottom: 12px;
}

.project-cell-update-body {
    display: inline-flex;
    width: 100%;
}
.project-modal-conf {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.project-modal-input-line {
    display: flex;
    text-align-last: center;
    margin-bottom: 12px;
}

.project-modal-helper-message {
    color: #d4d4d5;
    font-size: 12px;
    float: right;
    margin-bottom: 12px;
}
.project-cell-helper-message {
    color: #d4d4d5;
    font-size: 12px;
    float: right;
    margin-bottom: 12px;
}


.ui.modal { position: relative;}