.project-container {
    border-top: 5px solid transparent;
    border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
    border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
    border-image-slice: 1;
    padding-top: 70px;
    min-height: 1200px;
}

.project-header {
    font-weight: 700;
    font-size: 1.28571429rem;
    display: grid;
    width: 100%;
    border: 1px solid rgba(34,36,38,.15);
    padding-left: 12px;
    padding-right: 12px;
}

.project-layer {
    margin: 10px;
}

.project-cell-container {
}

.project-cell-header {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.project-cell-ico-body {
    display: inline-block;
    width: 100%;
    height: 180px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(34,36,38,.15);
    /*text-align: right;*/
    margin-top: -32px;
    overflow: hidden;
}

.project-cell-update-body {
    display: inline-flex;
    overflow: overlay;
    width: 100%;
    justify-content: center;
    text-align: center;
    min-height: 40px;
    align-items: center;
}
.project-modal-conf {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.project-modal-input-line {
    display: flex;
    text-align-last: center;
    margin-bottom: 12px;
}

.helper-message {
    color: red;
    height: 60px;
}

.project-modal-helper-message {
    color: #d4d4d5;
    font-size: 12px;
    float: right;
    margin-bottom: 12px;
}
.project-cell-helper-message {
    color: #d4d4d5;
    font-size: 12px;
    float: right;
    margin-bottom: 12px;
}


.ui.modal { position: relative;}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .project-container {
        border-top: 5px solid transparent;
        border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image-slice: 1;
        padding-top: 90px;
        height: 100%;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .project-container {
        border-top: 5px solid transparent;
        border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image-slice: 1;
        padding-top: 90px;
        height: 100%;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .project-container {
        border-top: 5px solid transparent;
        border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image-slice: 1;
        padding-top: 90px;
        height: 100%;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .project-container {
        border-top: 5px solid transparent;
        border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image-slice: 1;
        padding-top: 90px;
        height: 100%;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 500px) {
    .project-container {
        border-top: 5px solid transparent;
        border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
        border-image-slice: 1;
        padding-top: 90px;
    }

}