@import url("../../styles/min.css");

.privacy-form-container{
    width: 600px;
}

.dropdown-helper {
    pointer-events:all;
}

.control-label {
    display: inline;
}

.fieldsetx {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    float: inside;
    clear: left;
    margin: 0 0 1.5em 0;
    padding: 0;
    width: 100%;
}

.bottom-text {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-weight: normal;
    font-style: italic;
    font-variant: small-caps;
}

.olx {
    padding: 1em 1em 0 1em;
    list-style: none;
    zoom: 1;
}

.lix {
    display: inline-block;
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}

.legendx {
    width: 205px;
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}

.labelx {
    float: left;
    width: 10em;
    margin-right: 1em;
}

.inputx {
    width: 280px;
}

.ui.fluid.dropdown {
    display: inline-block;
    width: 280px;
    min-width: 0;
}

.ui.button{
    width: 456px;
    font-size: initial;
    color: #fff;
    background-color: #2098f3;
    border-color: #2098f3;
}

.text-area {
    margin: 0;
    width: 280px;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.field-logo{
    width: 200px;
}
