.profile-container {
    border-top: 5px solid transparent;
    border-image:  linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
    border-image:  -webkit-linear-gradient(to right, #f5f3f2 0%, #4c8fc8 20%,  #f5f3f2 100%);
    border-image-slice: 1;
}

.profile-header {
    font-weight: 700;
    font-size: 1.28571429rem;
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(34,36,38,.15);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.profile-avatar {
    margin-left:  22px;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.profile-info {
    display: inline-flex;
    /*display: -webkit-inline-flex;*/
    margin-bottom: 24px;
}

.profile-description{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 86px;
    width: 600px;
}

.avatar-loader-button.avatar-loader-button {
    margin-top: 10px;
}

.profile-input{
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    /*display: -webkit-flex;*/
    text-align-last: center;
}

.profile-form-input{
    flex: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    border-image:  -webkit-linear-gradient(to right, rgba(176,176,176,1) 20%, rgba(0,0,0,1) 50%, rgba(176,176,176,1) 100%);
    border-image-slice: 1;
    font-size: 16px;
    height: 25px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: initial;
    outline: none;
}
.profile-form-input:focus{
    flex: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    border-image:  -webkit-linear-gradient(to right, rgba(176,176,176,1) 20%, rgba(0,0,0,1) 50%, rgba(176,176,176,1) 100%);
    border-image-slice: 1;
    font-size: 16px;
    height: 25px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: initial;
    outline: none;
}
.profile-form-input:hover {
    flex: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    border-image:  -webkit-linear-gradient(to right, rgba(176,176,176,1) 20%, rgba(0,0,0,1) 50%, rgba(176,176,176,1) 100%);
    border-image-slice: 1;
    font-size: 16px;
    height: 25px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: initial;
    outline: none;
}

.input-form-label{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-right: 12px;
    margin-bottom: initial;
}

.profile-form-input>input {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-form-input>input::-webkit-input-placeholder {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-form-input>input::-ms-input-placeholder {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-form-input>input::-moz-placeholder {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-form-input>input::-moz-placeholder {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.profile-save-button{
    margin-top: 24px;
}


.password-change{
    width: 75%;
    display: table-cell;
    padding-left: 22px;
}


.password-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    border-image:  -webkit-linear-gradient(to right, rgba(176,176,176,1) 20%, rgba(0,0,0,1) 50%, rgba(176,176,176,1) 100%);
    border-image-slice: 2;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.password-update-button{
    margin-top: 12px;
    display: block;
}

.text-avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}

.text-avatar span {
    line-height: 200px;
    color: #fff;
    font-size: 3em;
}