.login-container {
    text-align: center;
    padding-top: 100px;
    color: #fff;
    box-shadow: 0px 1px 5px 0px #ad9e9e;
    background-image: url('../../img/global/bot.png');
    margin-top: -40px;
    background-position: center;
    background-size: cover;
    height: 900px;
}

.login-content {
    text-align: center;
    font-family: "Open Sans", sans-serif, Roboto, Arial, Georgia, FontAwesome;
    font-size: 16px;
}
.login-content {
    background-color: #ebebeb;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: 0 0 3px #666;
    width: 600px;
    margin-top: 30px;
    position: relative;
}
.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}
.socials {
    margin-top: 8px;
    position: center;
    margin-bottom: 8px;
}

.social-btn.google {
    margin-top: 7px;
}
.social-btn.facebook {
    margin-top: 7px;
    margin-bottom: 8px;
}
.facebook img {
    height: 50px;
}
.google img {
    height: 50px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.signup-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.login-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    /*.login-container {*/
        /*text-align: center;*/

        /*color: #fff;*/
        /*box-shadow: 0px 1px 5px 0px #ad9e9e;*/
        /*background-image: url('../../img/global/bot.png');*/
        /*margin-top: -40px;*/
        /*background-position: center;*/
        /*background-size: cover;*/
        /*height: -webkit-fill-available;*/

    /*}*/
    /*.login-content {*/
        /*background-color: #ebebeb;*/

        /*margin: 50px auto;*/
        /*padding: 20px;*/
        /*border-radius: 4px;*/
        /*vertical-align: middle;*/
        /*box-shadow: 0 0 3px #666;*/
        /*width: 600px;*/
        /*margin-top: 30px;*/
        /*position: relative;*/
    /*}*/

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    /*.login-container {*/
        /*!*text-align: center;*!*/
        /*color: #fff;*/
        /*box-shadow: 0px 1px 5px 0px #ad9e9e;*/
        /*!*background-image: url('../../img/global/bot.png');*!*/
        /*margin-top: -40px;*/
        /*background-position: center;*/
        /*background-size: cover;*/
        /*height: -webkit-fill-available;*/
    /*}*/
    /*.login-content {*/
        /*background-color: #ebebeb;*/

        /*margin: 50px auto;*/
        /*padding: 20px;*/
        /*border-radius: 4px;*/
        /*vertical-align: middle;*/
        /*box-shadow: 0 0 3px #666;*/
        /*width: 600px;*/
        /*margin-top: 30px;*/
        /*position: relative;*/
    /*}*/

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 500px) {

    .login-container {
        width: 375px;
        background-image: none;
        text-align: center;
        padding-top: 20px;
        color: #fff;
        box-shadow: 0px 1px 5px 0px #ad9e9e;
        margin-top: 0px;
        background-position: center;
        background-size: cover;
        height: 530px;

    }
    .login-content {
        text-align: center;
        font-family: "Open Sans", sans-serif, Roboto, Arial, Georgia, FontAwesome;
        font-size: 16px;
        height: 530px;
        background-color: #ebebeb;
        width: 375px;
        padding: 20px;
        padding-bottom: 2px;
        border-radius: 4px;
        vertical-align: middle;
        box-shadow: 0 0 3px #666;
        margin-top: 76px;
        position: relative;
    }
}