@import url("../styles/min.css");

.tools-container {
    padding-top: 10px;
}

div.header-bottom {
    text-align: left;
}
.divTable-header.header-bottom .divTableHeaderCell, .divTable.header-bottom .divTableHead {
    border: 3px solid #FFFFFF;
    padding: 10px 10px;
}
.divTable-header.header-bottom .divTableHeaderBody .divTableHeaderCellX {
    font-weight: bold;
    width: 400px;
}

.divTable-header.header-bottom .divTableHeaderBody .divTableHeaderCell {
    font-weight: bold;
}
.divTable-header.header-bottom .divTableHeaderRow:nth-child(even) {
    background: #D0E4F5;
}
.divTable-header.header-bottom .divTableHeaderCell:nth-child(even) {
    background: #EBEBEB;
}
.header-bottom .tableFootStyle {
    font-size: 14px;
}
/* DivTable.com */
.divTable-header{ display: table; }
.divTableHeaderRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableHeaderCellX, .divTableHead { display: table-cell;}
.divTableHeaderCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableHeaderBody { display: table-row-group;}

@media screen and (max-width: 600px) {

    div.header-bottom {
        text-align: center;
        width: 100%;
    }

    .divTable-header.header-bottom .divTableHeaderCell, .divTable.header-bottom .divTableHead {
        border: 3px solid #FFFFFF;
        display: block;
        align-items: center;
    }

    .divTable-header.header-bottom .divTableHeaderCellX, .divTable.header-bottom .divTableHead {
        border: 3px solid #FFFFFF;
        display: block;
    }

    .divTable-header.header-bottom .divTableHeaderBody .divTableHeaderCellX {
        font-weight: bold;
        width: 100%;
    }

}
div.paleBlueRows {
    top: 99px;
    left: 99px;
    text-align: left;
    padding-bottom: 10px;
}

.divTable.paleBlueRows .divTableCell, .divTable.paleBlueRows .divTableHead {
    border: 1px solid #FFFFFF;
    font-weight: bold;
    padding: 3px 2px;
}

.paleBlueRows .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}

.paleBlueRows .tableFootStyle {
    font-size: 14px;
}
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.header-bottom.child.childinner {
    margin-left: 25px;
    min-height: 40px;
}
.child:first-child .childinner {
    margin-left: 0;
}

.tabs {
    min-width: 320px;
    padding: 10px 0px 0px;
    margin: 0 auto;
}

.tabs-preference {
    max-width: 240px;
    display: block;
}

.tabs-preference>section {
    display: none;
    background: #fff;
    margin-right: 240px;
}

.tabs-preference>section>p {
    color: #383838;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#tab1-preference:checked~#content-tab1-preference, #tab2-preference:checked~#content-tab2-preference, #tab3-preference:checked~#content-tab3-preference{
    display: inline-block;
    padding: 10px 10px 10px;

}

.tabs-preference>label {
    display: block;
    margin: 0 0 0 0;
    padding: 15px;
    text-align: left;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
}

/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}

.tabs-preference>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    background: #f1f1f1;
}

/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
    font-family: fontawesome, sans-serif;
    font-weight: normal;
    margin-right: 10px;
}
.tabs>label[for*="1"]:before {
    content: "\f085 ";
}
.tabs>label[for*="2"]:before {
    content: "\f05a ";
}


.tablinks-pref-main:before {
    content: "\f015 ";
}
.tablinks-pref-privacy:before {
    content: "\f21b ";
}
.tablinks-pref-id:before {
    content: "\f2c2 ";
}

.rwt__tab {
    width: 100%;
}


/* Изменения стиля переключателей вкладок при наведении */
.tabs>label:hover {
    color: #888;
    cursor: pointer;
}

/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #555;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.tabs-preference>input:checked+label {
    color: #555;
    background: #fff;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2{
    display: block;
}

/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {

    .rwt__tab {
        width: 100%;
    }

    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }

    .tabs-preference>label {

    }

    .tabs-preference>label:before {
        margin: 0;
        font-size: 18px;
    }
}

/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
    .tabs>label {
        padding: 15px;
    }

    .tabs-preference>label {
        padding: 15px;
    }

    .header-bottom {
        display: inline-table;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rwt__tablist{
        width: 150px;
    }
}

.toggle {
    bottom: 0px;
    top: 10px;
    left: 10px;
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(20, 125, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked + .toggle:before {
    background: #1ad2f6;;
}
#cbx:checked + .toggle span {
    background: #0f96f6;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}