@import url("../../styles/min.css");

.menu-form-containe{

}
.control-label {
    display: inline;
}

.fieldset-menu {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    margin: 0 0 0 0;
    width: 700px;
}

.fieldset-modal-menu {

}

.label-modal-menu {
    float: left;
    width: 180px;
    padding-top: 19px;
}

.ol-modal-menu {
    padding: 10px 10px 0 10px;
    list-style: none;
    zoom: 1;
}


.ui.input.input-modal-menu {
    width: 280px;
}


.ol-menu {
    padding: 1em 1em 0 1em;
    list-style: none;
    zoom: 1;
}

.li-menu {
    padding-bottom: 1em;
    padding-right: 1em;
    font-size: 1rem;
}

.legend-main {
    width: 176px;
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}

.label-menu {
    float: left;
    width: 180px;
}

.checkbox-menu {
    padding-right: 1em;
}

.ui.button.menu-save{
    width: 626px;
    font-size: initial;
    margin-top: 28px;
}

.ui.basic.black.button.group-button-menu{
    float: right;
}

.ui.modal.modal-conf {

}

.ui.modal.modal-conf-delete {

}

.ui.modal>.content {

}

.ui.modal>.header.modal-header {
    padding: 10px 10px 10px 10px;
}
.ui.container.modal-container {
    padding: 10px 10px 10px 10px;
}

.text-area-modal{
    resize: none;
}

.ol-modal-menu{
    list-style: none;
    zoom: 1;
}


.li-modal-menu{
    padding-bottom: 1em;
    font-size: 1rem;
}

.ui.modal.modal-conf-group {

}

.li-modal-menu-checkbox{
    padding-bottom: 3em;
    font-size: 1rem;
    alignment: right;
}

.checkbox-modal-menu{
    padding-right: 1em;
    float: right;
}
