.app-header {
    height: 60px;
    position: relative;
    z-index: 10;
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
}

.app-branding {
    float: left;
}

.app-options {
    float: right;
}

.app-nav ul li a:hover {
    color: #0f96f6;
}

.app-nav ul li a.active {
    color: #0f96f6;
}