@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/SegoeUI-Regular.eot');
    src: url('../fonts/SegoeUI-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Regular.woff') format('woff'),
    url('../fonts/SegoeUI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI Light';
    src: url('../fonts/SegoeUI-Light.eot');
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header{
    width: 100%;
    height: 0;
    background-position: center;
    background-size: cover;

}
#header-center{
    max-width: 1400px;
    /*height: auto;*/
    margin: 0 auto;
}
.logo{
    width: 137px;
    float: left;
    margin-top: 28px;
    cursor: pointer;
}
#header ul{
    float: right;
    padding: 0px;
    margin-top: 24px;
    width: 50%;
}
#header li{
    float: left;
    list-style: none;
}
#header a{
    color: #000;
    font-family: 'Segoe UI Semibold', sans-serif;
    font-size: 15px;
    margin-left: 15px;
}